<div class="container" id="jumbotron">
    <div id="imageCarousel" class="carousel-slide" data-ride="carousel" data-pause="hover" data-wrap="true">



        <a href='@Url.Action("specials", "home")'>


            <ol class="carousel-indicators">
                @foreach (var special in Model.Specials)
                {
                    var dataSlide = 0;
                    if (special == Model.Specials.First())
                    {
                        <li data-target="#imageCarousel" data-slide-to="@dataSlide" class="active"></li>
                        dataSlide++;
                    }
                    else
                    {
                        <li data-target="#imageCarousel" data-slide-to="@dataSlide"></li>
                        dataSlide++;
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{ var i = 0;}
                @foreach (var special in Model.Specials)
                {
                    if (special == Model.Specials.First())
                    {
                        i++;
                        var active = i == 1 ? "active" : "";
                        <div class="item active">
                            <img src="@Url.Content("~/Images/" + special.ImageFileName)" class="img-thumbnail" style="margin-top: 10px; margin-bottom: 10px;">
                            <div class="carousel-caption" id="caption">
                                <h3>@special.SpecialName</h3>
                                <p>@special.SpecialDescription</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img src="@Url.Content("~/Images/" + special.ImageFileName)" class="img-thumbnail" style="margin-top: 10px; margin-bottom: 10px;">
                            <div class="carousel-caption" id="caption">
                                <h3>@special.SpecialName</h3>
                                <p>@special.SpecialDescription</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </a>
    </div>
</div>
