<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - AutoDealer</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/mySite.css" rel="stylesheet" />
</head>
<body style="padding-top:0px;">
<div class="navbar navbar-dark bg-dark sticky-top" style="padding-top:0px; z-index:999;">
     <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/Logo.JPG")" class="img-circle" style="height: 50px;">
                </a>
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">New Inventory</a>
    <a class="navbar-brand" href="#">Used Inventory</a>
    <a class="navbar-brand" href="#">Specials</a>
    <a class="navbar-brand" href="#">Contact</a>
</div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        Copyright
    </footer>
@*    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
