@model AutoDealer.ViewModels.HomeIndexViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Home Page";
}

<partial name="_Carousel"/>

<div class="row">
    <div class="col-xs-12">
        <h2>Featured Vehicles</h2>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var vehicle in Model.FeaturedVehicles)
    {
        <div class="col">
            <div class="vehicleDetails">           
                <img class="vehicleImage" style="width:100%;height:209px;" alt="@vehicle.Model.BrandName @vehicle.Model" src="@Url.Content("~/Images/" + vehicle.ImageFileName)" />
                <div class="card-body vehicle-button">
                    <h4 class="d-grid">

                    </h4>
                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="vehicle-link">@vehicle.Year.ToString() @vehicle.Model.BrandName @vehicle.Model</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @vehicle.CurrentListPrice.ToString("c0")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
